body{
    background-color:rgb(104, 133, 219); 
     width: 90%; 
      margin: auto;
}

h1{
    font-size: 36px;
    
}


@media (max-width: 600px) {
    h1{
      font-size: 24px;
      text-align: left;
      padding-top: 250px;
      padding-left: 40px;
    }
}

li{
    font-size: 24px;
}

ul{
    list-style-position: inside;
}

@media (max-width: 600px) {
    li{
        font-size: 12px;
        padding-left: 40px;
    }
}